:root {
    --cor-texto: rgb(20, 20, 20);
    
    --cor-fundo: rgb(200,200,200);
    --cor-fundo-codigo: rgb(20,20,20);
    --cor-fundo-citacao: rgb(180, 190, 180);

    --cor-acento1: rgb(100,8,100);
    --cor-acento2: rgb(100,128,100);

    --enchimento-padrao: 1em;
    --raio-borda: 2px;
}
/*
https://www.browserstack.com/guide/create-browser-specific-css
Código para detectar se está rodando no Firefox.
O tamanho da fonte tem que ser um pouco maior que o padrão
em elementos <code>. Não sei por quê.
*/
@supports (-moz-appearance:none) {
    code {
        font-size: 1.25em;
    };
}

body {
 background-color: var(--cor-fundo);
 color: var(--cor-texto);
 padding: var(--enchimento-padrao); 
}

a {
 color: var(--cor-acento1);
}

blockquote {    
    background-color: var(--cor-fundo-citacao);
    padding: 1em;
    border-left-style: solid;
    border-left-color: var(--cor-acento2);
    border-radius: var(--raio-borda);
}

pre {
 background-color: var(--cor-fundo-codigo);
 padding: var(--enchimento-padrao);
 border-radius: var(--raio-borda);
}

pre code {
    padding: 0px;
    background-color: var(--cor-fundo-codigo);
}

code {
 background-color: var(--cor-fundo-codigo);
 color: darkseagreen;
 padding: 2.2px;
 border-radius: var(--raio-borda); 
}


/*
Umas mudanças que eu fiz pra o código 
ficar bom em fundo escuro.
*/
code span.kw {
 color: rgb(212,64,212);
}

code span.fu {
 color: rgb(16,212,212);
}

code span.dt {
 color: #d0902c;
}
